In [1]:
import ibm_db

In [2]:
dsn_driver = "{ IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"
dsn_hostname = "dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net"
dsn_port = "50000"
dsn_protocol = "TCPIP"
dsn_uid = "rmt15206"
dsn_pwd = "4hfzpbxx4rkc-74l"

In [3]:
dsn = (
    "DRIVER= {0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL=TCPIP;"
    "UID={4};"
    "PWD={5};"
).format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_uid, dsn_pwd)

try:
    conn = ibm_db.connect(dsn, "", "")
    print("Connected!")
except:
    print("Unable to connect to database")

Connected!

CREATING TABLES

In [4]:
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table INSTRUCTOR"

#Now execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

 SQLCODE=-204

In [5]:
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

createStmt = ibm_db.exec_immediate(conn,createQuery)

In [6]:
insertQuery1 = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"
insertStmt = ibm_db.exec_immediate(conn, insertQuery1)

In [7]:
selectQuery1 = "select *from INSTRUCTOR"
selectStmt = ibm_db.exec_immediate(conn, selectQuery1)

Pandas Select Data

In [8]:
import pandas
import ibm_db_dbi

In [9]:
pconn = ibm_db_dbi.Connection(conn)

In [10]:
selectQuery = "select *from INSTRUCTOR"
df = pandas.read_sql(selectQuery, pconn)
df

   ID FNAME  LNAME     CITY CCODE
0   1   Rav  Ahuja  TORONTO    CA